body {
    background-color: #d8b4e2;
    margin: 0px;
}
.header{
    color: #55286f;
    font-size: 32px;
    font-family: Rockwell;
    position: absolute;
    left: 100px;
    top: 0px;
    padding: 0px 25px 0px 0px;
}
.header2{
    color: #55286f;
    font-size: 24px;
    font-family: Rockwell;
    position: absolute;
    left: 100px;
    top: 40px;
    padding: 0px 25px 0px 0px;
}
nav {
    width: calc(100% - 50px);
    padding: 25px;
    text-align: center;
    position: relative;
    background-color: #bc96e6;
    z-index: 9;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.logo {
    width: 54px;
    height: 54px;
    background-image: url(../pictures/logo.png);
    background-size: cover;
    color: #55286f;
    font-size: 32px;
    font-family: Rockwell;
}

.burger {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    margin: 20px 25px 0px 0px;
    background-size: cover;
    background-image: url(../pictures/menu.png);
    width: 54px;
    height: 54px;
    cursor: pointer;
    display: block;
}

input[type="checkbox"]  {
    display: none;
}

input + .burger + div {
    display: none;
}

input:checked + .burger + div {
    display:block;
}

.menu {
    position: absolute;
    right: 0;
    top: 75px;
    padding: 10px 10px 10px 0px;
    display: none;
    background-color: #bc96e6;
    border-radius: 15px;

}
.menu-section:hover{
    background-color: #d8b4e2;
    border-radius: 15px;
}


.menu-section {
    font-family: Rockwell;
    color: #55286f;
    font-size: 24px;
    margin: 10px 20px 10px 20px;
}
.album{

    margin: 30px auto 10px auto;
    width: 200px;
    border-radius: 20px;
    background-color:  #bc96e6;
    transition: all 0.5s;
    display: block;
    vertical-align: top;


}
.album:hover{
    box-shadow: 0px 0px 150px #ae759f;
    transform: scale(1.1);
}
.cover{
    height: 200px;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
    background-position: center;
}
.info1{
    background-color: #bc96e6;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    font-family: Rockwell;
}
.title{
    font-size: 18px;
    color: #55286f;
}
.description{
    font-size: 14px;
    color: #55286f;
    margin: 0px 0px 10px 0px;
}
.text{
    font-size: 25px;
    color: #55286f;
    width: auto;
    font-family: Rockwell;
}
.info2
{
    font-size: 16px;
    color: #55286f;
    width: auto;
    font-family: Rockwell;
    margin: 35px auto 0% auto;
    position: relative;
    width:80%;

}
.hr{
    width:80%;
    border: solid 1px #55286f;
    margin: 0px auto 1% auto;

}
.details
{
    margin: 0px auto 5% auto;
    font-family: Rockwell;
    font-size: 16px;
    link: #55286f;
    position: relative;
    width: 80%;
}

.album1{
    margin: 5px 0px 10px 0px;
    width: 300px;
    border-radius: 20px;
    background-color:  #bc96e6;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.cover1{
    height: 300px;
    background-size: cover;
    border-radius: 25px;
    background-position: center;
}
.info3
{
    font-size: 16px;
    color: #55286f;
    width: auto;
    font-family: Rockwell;
    margin: 35px 10px 4% 40px;
    text-align: center;
    float: left;
    width:100%;
    position: absolute;
    top:20%;
    left:46%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.about{
    font-size: 16px;
    color: #55286f;
    width: auto;
    font-family: Rockwell;
    margin: 575px 40px 15px 40px;
    position: relative;
    float: left;
    width:95%;
    top: 100%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.listen
{
    background-color: #bc96e6;
    background-size: cover;
    border-radius: 25px;
    font-size: 18px;
    color: #55286f;
    height: 50px;
    font-family: Rockwell;
    margin: 1170px 10px 10% 40px;
    text-align: center;
    line-height: 2.85em;
    float: left;
    width:60%;
    position: absolute;
    top:20%;
    left:46%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.icons{
    margin: 1275px 10px 10% 40px;
    text-align: center;
    float: left;
    width:100%;
    position: absolute;
    top:20%;
    left:46%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.icon{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 54px;
    height: 54px;
    display: inline-block;
    background-size: contain;
}
.video iframe{
    margin: 1% 20% 0% 18%;
    text-align: center;
    width: 70%;
}

.iframe{
    width: auto;
    height: auto;
}
.watch{
    background-color: #bc96e6;
    background-size: cover;
    border-radius: 25px;
    font-size: 18px;
    color: #55286f;
    width: auto;
    height: auto;
    font-family: Rockwell;
    margin: 760px 10px 0% 40px;
    text-align: center;
    line-height: 2.85em;
    float: left;
    width:60%;
    height: auto;
    position: absolute;
    top:10%;
    left:46%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.find{
    background-color: #bc96e6;
    background-size: cover;
    border-radius: 25px;
    font-size: 18px;
    color: #55286f;
    height: 50px;
    font-family: Rockwell;
    margin: 1370px 10px 10% 40px;
    text-align: center;
    line-height: 2.85em;
    float: left;
    width:60%;
    position: absolute;
    top:20%;
    left:46%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.map iframe{
    margin: 55% 20% 0% 18%;
    text-align: center;
    width: 70%;
}
.rating
{
    font-family: Rockwell;
    font-size: 20px;
    color: #55286f;
    margin: 40px 10px 10px 10px;
    text-align: center;
}

.meter {
    margin: 35px 40px 20px 35px ;
    height: 30px;
    position: relative;
    background: #55286f;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    transition: all 0.5s;
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(207, 133, 239);
    background-image: linear-gradient(to right, white 37%, #bc96e6 69%);
    position: relative;
    overflow: hidden;
    font-family: Rockwell;
    line-height: 2.55em;
    color: #55286f;
    text-align: right;
}
.name
{
    margin: 40px 30px 0px 50px;
    font-size: 20px;
    color: #55286f;
    font-family: Rockwell;
}
.meter:hover{
    box-shadow: 0px 0px 150px #ae759f;
    transform: scale(1.1);
}
